<Button X="$parent.width - self.width" Y="2" Z="2" class="help_toggle" helpTarget="reactor">Help</Button>
<Container X="$parent.width + 1" backgroundColour="128" width="$parent.width - 5" height="$parent.height" class="help" Z=4>
    <Label colour="white" X="2">Help</Label>
    <Button X="$parent.width" class="help_toggle help_close" helpTarget="reactor" backgroundColour="128" colour="red" width="1">x</Button>
</Container>
<PageContainer id="reactor_page" class="fit">
    <Page id="master">
        <Label Y="2" class="centre title">Reactor Controller</Label>

        <!-- Embed reactor list (when in master mode) -->
        <Button X="$parent.width - self.width - 1" class="setup-move bottom setup-only" setupNext="finish" enabled="false" id="reactorConfirm">Confirm</Button>
        <Label colour="256" class="centre bottom">Registration Required</Label>
    </Page>
    <Page id="conf">
        <!-- Reactor Configure -->
    </Page>
    <Page id="error">
        <Label Y="5" class="centre title">No Reactors Found</Label>
        <TextContainer height="$parent.height - self.Y + 1" width="$parent.width - 4" Y=8 text="This program relies on reactors being connected to the computer.\n\nPlease connect the computer, via network cable (and wired modems) to a reactor in order to begin setup."/>

        <Button X="3" class="alt bottom setup-only" id="cancelSetup">Cancel</Button>
    </Page>
</PageContainer>
